.tabBar{
  display: flex;
  flex-wrap: wrap;
}
.tabHeader{
  padding: 16px 24px;
  border: 1px solid #000000;
  background: #ececec;
  cursor: pointer;
}
.tabHeader.active{
  background: #0000ff;
  color: #ffffff;
}
.modeForm{
  display: flex;
  flex-wrap: wrap;
}
.modeFormUnit{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.modeFormUnit input{
  width: 100%;
}